<p style="color: green"><%= notice %></p>
<p><%=@map[:lat] %></p>
<p><%=@map[:lon] %></p>


<div
  class="leaflet-container"
  style="min-height: 800px;" 
  data-controller="map"
  data-map-target="placeholder"
  >
</div>

